:root {
  --font-lato: "Lato", sans-serif;
  --font-pacifico: "Pacifico", cursive;
  --color-naranja: #f7931a;
  --color-azul-oscuro: #0e0651;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-lato);
}

header {
  background-image: url("../assets/hero1.jpg");
  height: 720px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

header .overlay {
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

header .container-header {
  display: flex;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: column;
}

header .container-header nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container-header nav .logo span {
  color: var(--color-naranja);
}

header .container-header nav .logo {
  font-family: var(--font-pacifico);
  font-size: 25px;
  color: var(--color-azul-oscuro);
}

header .container-header nav .menu {
  display: flex;
  align-items: center;
}

header .container-header nav .menu ul {
  display: flex;
  list-style: none;
  align-items: center;
}

header .container-header nav .menu ul li {
  margin-right: 30px;
}

header .container-header nav .menu ul li a {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-azul-oscuro);
}

header .container-header nav .menu .boton {
  display: inline-block;
  height: 45px;
  width: 130px;
  text-align: center;
  background-color: var(--color-naranja);
  border-radius: 50px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 12px;
}

.hero {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 80px;
  padding: 20px;
  width: 600px;
  text-align: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.hero h2 {
  font-size: 50px;
  width: 500px;
  text-align: left;
}

.hero p {
  margin-top: 20px;
  width: 550px;
  text-align: left;
  font-weight: bold;
  color: gray;
}

main .container {
  width: 100%;
}

.casas-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
}
.our-houses {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 35px;
  width: 170px;
  border-radius: 50px;
  background-color: rgba(247, 147, 26, 0.2);
}

.casas-container h3 {
  font-size: 16px;

  color: var(--color-naranja);
}

.casas-container p {
  font-size: 30px;
  width: 40%;
  margin: 20px 0;
}

.casas-slider {
  /* width: 100%; */
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 400px;
  min-width: 400px;
  height: 400px;
  margin-right: 40px;
  margin-bottom: 200px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}

.card .card-text {
  position: absolute;
  top: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 85%;
  min-height: 100px;
  max-width: 300px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16);
  padding: 25px;
}

.card .card-text .titulo {
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: var(--color-azul-oscuro);
}

.card .card-text .ubicacion-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 10px;
}

.card .card-text .ubicacion {
  width: 50%;
}

.card .card-text .ubicacion p {
  color: gray;
  font-weight: bold;
  padding: 15px 0;
  text-align: center;
}

.card .card-text .ubicacion-container .precio {
  width: 50%;
  margin: 0 auto;
}

.card .card-text .ubicacion-container .precio p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 35px;
  width: 100px;
  border: 1px solid var(--color-naranja);
  border-radius: 50px;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  color: var(--color-naranja);
}

.card .card-text .detalles ul {
  display: flex;
  list-style: none;
}

.card .card-text .detalles ul li {
  font-size: 20px;
  margin: 10px;
  color: gray;
}

.boton-ver-mas {
  display: block;
  width: 100%;
  text-align: center;
  height: 45px;
  background-color: var(--color-naranja);
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 12px;
  margin-top: 20px;
}

.container-section {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
}

.title-section .our-houses h3 {
  font-size: 16px;
  color: var(--color-naranja);
}
.title-section p {
  font-size: 30px;
  width: 40%;
  margin: 20px 0;
}

.option-one {
  width: 100%;
  height: 150px;
  display: flex;
  font-size: 16px;
  color: gray;
  margin: 50px 0;
}

.option-one i {
  font-size: 50px;
  margin-right: 40px;
}
.option-two {
  width: 100%;
  height: 150px;
  display: flex;
  font-size: 16px;
  color: gray;
  margin: 50px 0;
}

.option-two i {
  font-size: 50px;
  margin-left: 40px;
}
.option-three {
  width: 100%;
  height: 150px;
  display: flex;
  font-size: 16px;
  color: gray;
  margin: 50px 0;
}

.option-three i {
  font-size: 50px;
  margin-right: 40px;
}

footer {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(247, 147, 26, 0.19371498599439774) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

footer p {
  color: #0e0651;
}
